@model IEnumerable<Category>


<a href="/"class="list-group-item list-group-item-action ">Categories</a>
@foreach (var category in Model)
{
    <div class="list-group">
        <a asp-controller="Home" asp-action="Index" asp-route-id="@category.Id" class="list-group-item list-group-item-action ">@category.Name</a>
    </div>
}